body {
    background-image: url(../images/ep_naturalblack.png);
}
#title {
    text-align: center;
    padding: 50px 0;
    margin: 0 0 30px 0;
    font-family: 'Cinzel', serif;
    font-size: 70px;
    color: whitesmoke;
}
  .card1 {
      background: none;
      flex-wrap: wrap;
      border: 1px solid black;
      color: whitesmoke;
    
  }
 .display-3 {
     text-align: center;
     border-bottom: 1px whitesmoke solid;
     font-family: 'Old Standard TT', serif;
     color: whitesmoke;
 }
 .card {
    float: left;
    background: none;
    border: none;
    margin-left: 50px;
    font-family: 'Cinzel', serif;
    color: whitesmoke;
 }
 .card1 {

     border: none;
     font-family: 'Cinzel', serif;
     color: whitesmoke;
     
 }
 .card2 {
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    margin-top: 100px;
 }


